aiohttp
async_lru
async_timeout
bleach
celery
channels
channels_redis
cryptography
dj-rest-auth
dj_database_url
Django
django-allauth
django-cloudinary-storage
django-cors-headers
django-csp
django-extensions
django-filter
django-ratelimit
django-tinymce
django-unfold
djangorestframework
djangorestframework-simplejwt
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
isort
jsonschema'[format]'
langdetect
locust
openai
Pillow
psycopg2-binary
PyJWT
python-decouple
ratelimit
redis
stripe
tenacity
bleach